EmpresaXYZSolution/ClienteWebApp/Service References/ClienteServiceReference/ClienteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CampanhaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CampanhaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataNascimento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCliente" type="xs:long" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telCelular" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="telResidencial" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
</xs:schema>